﻿@media only screen and (min-width: 1201px) {
    .header .content .devise_menu, 
    .header .content .devise_search, 
    .header .content .devise_cart, 
    #search,
    .filtres .devise_filtres, 
    .devise_filtres_content,
    .close {
        display: none !important;
        visibility: hidden !important;
        position:absolute !important;
    }
}

@media only screen and (max-width: 1200px) {

    .main {
        width: 100%;
        padding-top: 3em;
    }

     a.logo img {
       content:url("Assets/svg/logo_small.svg");
       padding-bottom: 0.775em;
    }

     .header {
         margin-bottom: 0;
         position: fixed;
         z-index:10;
         width: 100%;
         line-height:3em;
         max-height:3em;
         top:0;
         left: 0;

         padding: 0;
     }

     .header .content {
         width: calc(100% - 7%);
         padding: 1.66666%;
         padding-right: 3.3333%;
         margin:0;
     }
    

    .header .content .telephone, 
    form.search, 
    .header .content .more_info, 
    .header .menu, 
    .filtres, 
    .devise_filtres_content,
    .filtres .devise_filtres {
        display: none;
        visibility: hidden;
        position:absolute;
    }


    .header .content .devise_menu, .header .content .devise_search, .header .content .devise_cart {
        display: inline-block;
        visibility: visible;
        position:initial;

        width: 1.5em;
        height: 2em;
    }

    .header .content .devise_menu {
        background: url("Assets/svg/menu_white.svg") 0 0 no-repeat;
    }

    .header .content .devise_search {
        background: url("Assets/svg/search_white.svg") 0 0 no-repeat;
    }

    .header .content .devise_cart {
        background: url("Assets/svg/cart_white.svg") 0 0 no-repeat;
    }

    .header .content form.search {
        position: fixed;
        top:0;
        left:0;
        background-color: #fff;
        border-bottom: solid 1px #48f;
        height: 3em;
        width: 100%;

    }
    
    .header .content form.search input, 
    .header .content form.search input:hover, 
    .header .content form.search input:focus {
        width: calc(100% - 4em);
        margin: 0;
        padding: 1em;
        border:none;
        background-color: #ffffff;
        color: #48f;
    }

    .header .content form.search .close {
        float: right;
        margin-top: 1em;
    }

    .header .menu {
        position:initial !important;
        padding-bottom: 1em;
    }

    .header .menu>ul {
        overflow:auto;
        background-color: #ffffff;
    }

     .header .menu .sectios li {
         float:none;
     }

     .header .menu li {
         width: 100%;
     } 

     .header .menu li a {
          color:#000;
      }

     .header .menu li a {
          border-bottom: solid 1px #d5d5d5;
      }

     .header .menu .sections a:hover {
         background-color: #f5f9ff;
         color: #48f;
     }

     .header .menu .cart {
         display: none;
        visibility: hidden;
        position:absolute;
     }

      .header .menu .sections a.active {
          background-color:#ffffff;
      }

      .header .menu .sections a.active:hover {
          background-color: #f5f9ff;
      }

     .devise_filtres {
        display: block;
        visibility: visible;
        position:initial;
        height: 3em;
        width: 100%;

        border-bottom: solid 1px #d5d5d5;

        margin-bottom: 1em;
    }

    .devise_filtres .devise_filtres_button {
        width: 1.5em;
        height: 2em;

        margin-top:0.7%;
        margin-right:3.33333%;
        float: right;
        background: url("Assets/svg/filter_dark.svg") 0 0 no-repeat;
    }

    .devise_filtres_content {
        position:fixed;
        width: 100vw;
        height: 100vh;
        
        
        top: 2.5em;
        right: 0;
    }

    .devise_filtres_content .click_listner {
        width: calc(100%);
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .devise_filtres_content li {
        padding-left: 1em;
    }

    .devise_filtres_content li.title,
    .devise_filtres_content .close {
        width: calc(100% - 4em);
        text-transform:uppercase;
        color:#999;
        padding: 2em;
        
    }

    .devise_filtres_content .close {
        padding-top: 1em;
        padding-bottom: 1em;
        border-bottom: solid 1px #d5d5d5;
    }

    .devise_filtres_content li.title {
        border-bottom: solid 1px #d5d5d5;
    }

    .devise_filtres_content li a {
        width: calc(100% - 2em);
        padding: 1em;
        border-bottom: solid 1px #d5d5d5;
    }

    .devise_filtres_content li a {
        display:block;
        width: 100%;
        color: #000;
    }

    .devise_filtres_content li a.active {
        font-weight:700;
        background:url("Assets/svg/check_blue.svg") calc(100% - 4em) 1em no-repeat;
    }


    .devise_filtres_content .content {
        font-family:'Roboto Medium';
        font-size:.875em;/*14 / 16*/
        
        letter-spacing:.0008333em;/*1 / 16*/
        line-height:1.125em;/*18 / 16*/

        overflow-y:scroll;

        float:right;
        width: 30%;
        min-width: 20em;
        max-width:40em;
        background-color:#fff;
        
        height: 100%;
    }

    .devise_filtres_content .close {
        
        background-position: calc(100% - 2em) 1em;
    }

    form.search {
        max-width: 100%;
    }

    .filtres .selects_section {
      float: none;
    }

    .goods_sections {
        width: 100%;
        margin: 0;
    }

    .goods_sections .item {
        width:calc(33.33333333% - 2px - 3.33333333%);  
        border-left:none;  
    }

    .goods_sections .item:hover {
        width:calc(33.33333333% - 3px - 3.33333333%);
    }




    #infocard {
        display: none !important;
        visibility: hidden !important;
        position:absolute !important;
    }
}

@media only screen and (max-width: 768px) {

    

    .header {
         line-height:2.5em;
         height: 2.5em;
     }
    .devise_filtres_content {
        top: 2em;
    }

    
    
        .goods_sections .item {
        width:calc(50% - 2px - 3.33333333%);  
        border-left:none;  
    }

    .goods_sections .item:hover {
        width:calc(50% - 3px - 3.33333333%);
    }

    .footer ul {
        overflow: initial;
        width: 100%;
    }

    .footer ul li {
        float: none;
        margin:0;
        padding-left: 1em;
        padding-right: 1em;
        width: calc(100% - 2em);
    }

    .footer ul li>a {
        display: block;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
        border-bottom: solid 1px #d5d5d5;
    }

    .footer ul li>a.inline {
        display: inline;
    }

    .footer ul li:last-child {
        float: right;
    }
}

@media only screen and (max-width: 480px) {

    .header .content {
        margin-right: 7%;
    }

    .devise_filtres {
        padding-right: 7%;
        width: calc(100% - 7%);
    }

    .goods_sections {
        width: calc(100% - 2em);
        padding:1em;
        margin: 0;
    }
        .goods_sections .item {
            float:none;
        width:calc(100% - 2px - 3.33333333%);   
          
    }

        .goods_sections .item:hover {
        width:calc(100% - 3px - 3.33333333%);
    }
}
