﻿  .filtres {
     margin-left: 3.3333333%; /*40 / 1200*/
     margin-right: 3.3333333%; /*40 / 1200*/
     margin-bottom: 3.3333333%; 
 }


  .filtres input,.filtres .type_select, .filtres .brand_select {
    font-family:'Roboto Medium';
    font-size:1em;/*14 / 16*/
    text-transform:uppercase;
    letter-spacing:.0008333em;/*1 / 16*/
    line-height:1.125em;/*18 / 16*/

    padding: 1em;
    
  }

  .filtres .selects_section {
      float: left;
  }

  .filtres .type_select, .filtres .brand_select {
      width: 10em;
      height:1em;

      float: left;

      margin-right:1em;

      position:relative;

      background: url("Assets/svg/drop_dark.svg") 10em 1em no-repeat;
      border: solid 1px #808080;
  }

  .filtres .type_select:hover, .filtres .brand_select:hover {
      color: #48f;
      background: url("Assets/svg/drop_blue.svg") 10em 1em no-repeat #f5f9ff;
      border: solid 1px #48f;
  }

  


  .filtres .selects_section ul {
      position:absolute;
      z-index:5;
      top: calc(3em + 1px);
      left:0;
      width: calc(12em - 2px);
      background-color: #fff;

      padding-top: 1em;
      border: solid 1px #808080;
      border-top:none;
            
  }

  .filtres .selects_section ul li a {
      display:block;
      color: #000000;
      padding: 1em;

      transition-property: background-color;
      transition-delay:0;
      transition-duration:2s;
  }

  .filtres .selects_section ul li a:hover {
      color: #48f;
      background-color: #f5f9ff;
      transition-duration:1s;
  }

  .filtres .click_listner {
      position:absolute;
      z-index:4;
      top:0;
      left:0;
      width: 100vw;
      height: 100vh;

  }

 .filtres .price_section {
     font-family:'Roboto Medium';
    font-size:1em;/*14 / 16*/
    text-transform:uppercase;
    letter-spacing:.0008333em;/*1 / 16*/
    line-height:1.125em;/*18 / 16*/

    color: #999;

    overflow:hidden;
 }

 .filtres .price_section span {
     padding: 1em;
     float:left;
 }

  .filtres input {
      border: solid 1px #808080;
      text-align:right;

      position:relative;

      float:left;
  }

  .filtres input:hover, .filtres input:focus {
      border: solid 2px #48f;
      background-color: #f5f9ff;
  }


  .filtres input.from {
      margin-left: 1em;
      border-right: none;
  }


   .filtres input.from:before {
       content:"от";
       font-family:'Roboto Medium';
        font-size:1em;/*14 / 16*/
        text-transform:uppercase;
        letter-spacing:.0008333em;/*1 / 16*/
        line-height:1.125em;/*18 / 16*/

       display: block;
       position: absolute;
       top: 1em;
       left: 1em;

       color: #999;
       width:1em;
       height:3em;
   }

  .filtres input.to {
      margin-right: 1em;
  }

  .filtres .selcts_section {
      float: left;
      margin-right: 2em;
  }
