﻿* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration:none;
}

a img {
    border:none;
}


li {
    list-style: none;
}

*:focus {
    outline: none;
}

input {
    -webkit-appearance: none;
    border:none;
}

*::-webkit-scrollbar {
    width: 0;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('Assets/fonts/Roboto Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('Assets/fonts/Roboto Regular.ttf') format('truetype');
}



body {
    font-size: 100%;/*16*/
}

.main {
    width: 90%;
    max-width:1200px;

    margin:0 auto;
}


.visible {
    display: block !important;
    visibility: visible !important;
}

.close {
    width: 1.5em;
    height: 1.5em;
    background: url("Assets/svg/close_dark.svg") 0 0 no-repeat;
}

.footer {
    font-family:'Roboto Regular';
    font-size:.875em;/*14 / 16*/
    letter-spacing:0;
    line-height:1.125em;/*18 / 16*/
    height: 3em;

    color:#999;

    padding: 3.33333%;
}

.footer ul {
    overflow: hidden;
    width: 100%;
}

.footer ul li {
    float: left;
    margin-right: 1em;
}

.footer ul li:last-child {
    float: right;
}

.footer a {
    color: #000;
}

