﻿.goods_sections {
    margin-left:1.6666666666%; /*40 / 1200*/
    margin-right:1.6666666666%; /*40 / 1200*/
}

.goods_sections {
    overflow:hidden;
    width:calc(100% - 2em);
    margin: 0 1.66666666%;
}


.goods_sections .item {
    float: left;
    width:calc(25% - 2px - 3.33333333%);
    border-left: solid 1px #d5d5d5;
    border-bottom: solid 1px #d5d5d5;
    height:calc(23em - 2px - 2em);
    padding:1.66666666%;

    margin-left: -1px;

    transition:none;
    
}

.goods_sections .item:hover {
    position: relative;

    background-color: #f5f9ff;
    width:calc(25% - 3px - 3.33333333%);

   transition-property: background-color;
   transition-delay:0;
   transition-duration:1.5s; 

   margin-left: 0;

}

.goods_sections .item:hover:before {
     content:" ";
     width: calc(100% - 1px);
     height: calc(100% - 1px);
     display: block;
     position: absolute;
     border: solid 2px #48f;
     left: -1px;
     top: 0;
}

.goods_sections .item a.photo {
    display:block;
    padding-top: 1em;
    height:calc(12em - 2px - 3em);
}

.goods_sections a.banner_a:hover {
    background-color: #acb4bf;
}

.goods_sections .item img {
    display:block;
    margin:0 auto;
    max-width:100%;
}

.goods_sections .item .info {
    height:calc(9em - 2px - 2em);
    padding-bottom: 1em;
    border-bottom: solid 1px #48f;
}

.goods_sections a.banner_b img {
    max-width:none;
}

.goods_sections .item h2 {
    font-size:100%;
    
}

.goods_sections .item h2 a {
    display:block;

    height:calc(5em - 2px - 2em);

    font-family:'Roboto Medium';
    font-size:1.125em;/*18 / 16*/
    letter-spacing:0;
    line-height:1.375em;/*22 / 16*/
    text-align:justify;
    color:#444;
}

.goods_sections .item h2 a:hover {
    color:#48f !important;
}

.goods_sections .item p {
    font-family:'Roboto Regular';
    font-size:.875em;/*14 / 16*/
    letter-spacing:0;
    line-height:1.125em;/*18 / 16*/
    height: 3em;

    color:#999;
}

.goods_sections .item .price {
    font-family:'Roboto Medium';
    font-size:1.125em;/*18 / 16*/
    letter-spacing:0;

    padding-top: 1em;

    height:calc(4em - 2px - 2em);

    color: #48f;
}

.goods_sections .item .price li {
    float: left;
}

.goods_sections .item .price li.cart {
    float: right;
}

.goods_sections .item .price li.cart a {
    display:block;
    background: url("Assets/svg/cart_blue.svg") 0 0 no-repeat;
    height:1em;
    width:2em;
}

.goods_sections a.banner_a , .goods_sections a.banner_b a {
    display:block;
}


.goods_sections a.banner_a {
    background:url("Assets/images/banner_a.png") no-repeat #acb4bf;
    
}

.goods_sections a.banner_a  p {
    color:#fff;
    margin-top:17.5em;
}

.goods_sections a.banner_b .info {
    overflow:hidden;
}

.goods_sections a.banner_a .info, .goods_sections a.banner_b .info {
    overflow:hidden;
    max-width:calc(100%);
    max-height:calc(100% - 1em);

    height:auto;
    border:none;
}
