﻿

.header, .filtres {
    font-family:'Roboto Medium';
    font-size:.875em;/*14 / 16*/
    text-transform:uppercase;
    letter-spacing:.0008333em;/*1 / 16*/
    line-height:1.125em;/*18 / 16*/
    
    
}

.header {
    background-color: #48f;
    color: #ffffff;
    padding-top: 2.5%;
    padding-left: 1.6666666%;
    padding-right: 1.6666666%;

    margin-bottom: 2em;
}

.header a {
    color:#ffffff;
}

.header .content {
    text-align: justify;
    line-height: 0;
    text-align-last: justify;
    margin-bottom: 1em;   
    margin-top: -1%; 

    padding-left: 1.6666666%;
    padding-right: 1.6666666%;
}

.geader .content:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.header .content>*:first-child:before {
    content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.header .content>* {
    display: inline-block;
    vertical-align: middle;
}



form.search {
    width: 40%;
    font-size: 125%;
}

form.search input {
    width:100%;
    font-family:'Roboto Medium';
    font-size:.875em;/*14 / 16*/
    text-transform:uppercase;
    letter-spacing:.0008333em;/*1 / 16*/
    line-height:1.125em;/*18 / 16*/

    background-color: #48f;
    color: #8eb6fb;
    
    background: url("Assets/svg/search_white.svg")  no-repeat #48f;
    border-bottom:solid .0008333em #8eb6fb;
    
    margin-top: 3.72439478%;
    padding-left: 7%;
    padding-bottom: 3.72439478%;
}

form.search input:hover {
    border-color: #fff;
}

form.search input:focus {
    color: #fff;
    border-color: #fff;
}

.header .menu>ul {
    overflow:hidden;
}

 .header .menu .sections li{
     float:left;
 }

 .header .menu .sections a {
     display:block;
     padding:1em;

     transition-property: background-color;
     transition-duration: 2.5s;
     transition-delay:0;
 }

  .header .menu .sections a.active {
      background-color:#444;
  }

 .header .menu .sections a:hover{
     background-color: rgba(68, 122, 218, 1);
     transition-duration: 1s;
     transition-delay:0;
 }

 .header .menu .sections a.active:hover{
     background-color:#444;
 }

 .header .menu .sections li:first-child a {
    padding-left: 1.33em;
 }

 .header .menu .cart {
     float:right;
     padding:1em;
    padding-right: 1.6666666%;
 }

 @keyframes move_to_left {
    from   {
        padding-right: 0;
        background-position-x:150%;
    }
    to {
        padding-right: 30%;
        background-position-x:95%;
    }
}

 @keyframes move_to_right {
    from   {
        padding-right: 30%;
        background-position-x:95%;
    }
    to {
        padding-right: 0;
        background-position-x:150%;
    }
}

 .header .menu .cart a {
     background: url("Assets/svg/cart_white.svg") 150% 0 no-repeat;
     animation-name: move_to_right;
     animation-duration: 1s;
     padding-right: 0;
     background-position-x:150%;
 }

 .header .menu .cart a:hover {
     animation-name: move_to_left;
     animation-duration: 1s;
     padding-right: 30%;
     background-position-x:95%;
 }




