﻿ #infocard {
        display: none;
        visibility: hidden;
        position:absolute;
    }

 #infocard.visible {
    position:fixed;
    z-index:15;
    height: 100vh;
    width: 100vw;
    top:0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

#infocard .infocard_content {
    position: fixed;
    display:block;
    width: 44em;
    height:54em;
    max-width:100%;
    top: 50%;
    left:50%;

    font-family:'Roboto Regular';
    font-size:.875em;/*14 / 16*/
    letter-spacing:0;
    line-height:1.125em;/*18 / 16*/

    color:#999;


    overflow-y:scroll;
    overflow-x:hidden;
    
    margin-top: -27em;
    margin-left: -22em;

    background-color: #ffffff;
}


#infocard .infocard_content .close {
    display: block !important;
    visibility:visible !important;
    width: 100%;
    height: 3em;
    background-position: calc(100% - 1em) 1em;
}

@media only screen and (min-width: 1200px) {
    #infocard .infocard_content .photo {
    margin-top: 3em;
    }

    #infocard .infocard_content .close {
    display: block !important;
    visibility:visible !important;
    width: 100%;
    height: 3em;
    background-position: calc(100% - 3em) 1em;
}
}

#infocard .infocard_content .photo {
    height: calc(55% - 3em);
}
#infocard .infocard_content .photo img {
    display: block;
    max-width: 80%;
    max-height:100%;
    margin: 0 auto;
}


#infocard .infocard_content .info {
    width: calc(100% - 4em);
    height: calc(45% - 4em);
    padding: 2em;
    overflow:hidden;
    font-size:100%;
}
#infocard .infocard_content .info .column {
    float:left;
    width: calc(65% - 2em - 2px);
    border-right: solid 1px #d5d5d5;
    padding-right:2em;
    padding-top:2em;
    border-top: solid 1px #d5d5d5;
}

#infocard .infocard_content .info .column:last-child {
    width: calc(35% - 2em);
    padding-left:2em;
    padding-right:0;
    border-right:none;
}

#infocard .infocard_content .info .column td {
    padding: 0.5em 2em 0.5em 0;
}

#infocard .infocard_content .info h2 {
    font-family:'Roboto Medium';
    font-size:1.3em;
    letter-spacing:0;
    line-height:1.375em;/*22 / 16*/
    text-align:justify;
    color:#444;

    margin-bottom: 1em;
}

#infocard .infocard_content .info table {
    margin-bottom: 1em;
}

#infocard .infocard_content .info a {
    color: #48f;
}

#infocard .infocard_content .info .column:last-child a {
    display: block;
    text-transform:uppercase;
    background: url("Assets/svg/cart_blue.svg") 2em 0.75em no-repeat;
    
    padding: 0.75em 2em;
    padding-left: 4em;
    border: solid 1px #48f;
    width:calc(100% - 2px - 6em);
    margin-bottom: 1em;
}

#infocard .infocard_content .info .column:last-child p {
    margin-bottom: 1em;
}

#infocard .infocard_content .info .column:last-child p.presence {
    color: #000;
}